<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="PersonServiceBinding" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/PersonService/"
                binding="wsHttpBinding" bindingConfiguration="PersonServiceBinding"
                contract="WcfService.IPersonService" name="PersonServiceClient"
                kind="" endpointConfiguration="">
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>